body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainBar {
  background-color: black;
}
.mainBar .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainBar .socialAccounts {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.mainBar .socialAccounts .mail i {
  color: white;
}
.mainBar .socialAccounts .mail a {
  color: white;
  text-decoration: none;
}
.mainBar .socialIcons i {
  color: white;
}
