@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.mainBar {
  background-color: black;
  padding: 15px;
}
.mainBar .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainBar .container .socialAccounts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mainBar .container .socialAccounts .phone {
  margin-left: 20px;
}
.mainBar .container .socialAccounts .mail i {
  color: white;
}
.mainBar .container .socialAccounts .mail a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}
.mainBar .socialIcons i {
  color: white;
  padding-left: 20px;
}
/* media queries */
@media (max-width: 768px) {
  .mainBar {
    display: none;
  }
}
/* nav bar styling */
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  background-color: #fff;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
nav .logo {
  font-size: 40px;
  font-weight: 600;
  color: #1907;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
}
nav ul li {
  padding: 0 30px;
  font-size: 20px;
  color: #212934;
}
nav .socialIcons i {
  padding: 0 5px;
  font-size: 18px;
  font-weight: 700;
}
